@import 'partials/normalize';
@import 'partials/variables';
@import "compass";

/* apply a natural box layout model to all elements, but allowing components to change */

.wrapper {
	h2 {
		margin-bottom: 2rem;
	}
	.convo {
		margin-top: 0.7rem;
		padding: 1rem 1.3rem;
		transition: background-color 0.35s;
		h3	{
			margin-top: 0;
		}
		.name {
			margin-right: 0.75rem;
			color: $main;
		}
	}
	.right-container {
		color: $light-main;
		font-size: 1rem;
		font-family: $sans-stack;
		font-weight: 300;
		h2 {
			color: $light-main;
			margin-top: 0;
			margin-bottom: 0.5rem;
			font-size: 1rem;
			font-weight: 400;
		}
		.hof-helper {
			margin-bottom: 1rem;
			h2 {
				text-transform: inherit;
				margin-top: 8.9rem;
				span {
					text-transform: uppercase;
					font-size: 1.2rem;
				}
			}
			p {
				margin-top: 0.5rem;
				width: 55%;
				font-size: 0.9rem;
				@media screen and (max-width: $max-display) {
					width: 96%;
					margin-right: 2%;
				}
				.hof-helper-emphasis {
					font-style: italic;
				}
			}
			
		}
		.hof-stats h2 {
			text-transform: uppercase;
			font-size: 1.2rem;
		}
	}
}

#golden-conversations, #gold-plated-conversations {
	h3 a {
		color: $dark-black;
	}
	.name {
		color: $dark-main;
	}
	.convo {
		background-color: rgba($gold-label, 0.45);
		&:hover {
			background-color: rgba($gold-label, 0.88);
		}
	}
}

#gold-plated-conversations {
	.convo {
		background-color: rgba($goldplated-label, 0.55);
		&:hover {
			background-color: rgba($goldplated-label, 0.75);
		}
	}
}

#saved-conversations {
	.convo {
		padding: 0.5rem 1.3rem;
	}
}

.gold-label {
	color: $dark-black;
	font-size: 0.75rem;
	font-weight: 400;
	display: inline-block;
	padding: 0.08rem 0.25rem;
	background-color: $gold-label;
}

.goldplated-label {
	@extend .gold-label;
	background-color: $goldplated-label;
}

.stats-helper {
	display: inline-block;
	width: 30%;
	vertical-align: top;
}

.hof-stats {
	p {
		font-size: 0.9rem;
		margin-left: 1rem;
		&:first-of-type {
			margin-top: 0.5rem;
		}
	}
	.regNum, .gpNum, .gNum {
		position: relative;
	}

	.regNum:before {
		content: "";
		position: absolute;
		width: 10px;
		height: 10px;
		background-color: $light-gray;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		left: -1rem;
		top: 0.25rem;
	}

	.gpNum:before {
		@extend .regNum:before;
		background-color: $goldplated-label;
	}

	.gNum:before {
		@extend .regNum:before;
		background-color: $gold-label;
	}
}

#chart {
	margin-top: 0.25rem;
	margin-left: -1rem;
	display: inline-block;
	g path:first-child {
		fill: $gold-label !important;
		opacity: 0.6;
	}
	g path:nth-child(2) {
		fill: $goldplated-label !important;
		opacity: 0.5;
	}
	g path:nth-child(3) {
		fill: $light-gray !important;
	}
}



