@import 'partials/variables';
@import "compass";
@import "compass/css3/box-shadow";


html,body {
	font-size: 16px;
	height: 100%;
}


.wrapper {
	margin: 0 auto;
	max-width: 1000px;
	height: 90%;
	padding: 1.2rem 0;
	padding-left: 200px;

	@media screen and (max-width: $max-display) {
		  	max-width: 100%;
		  	padding: 0.8rem 0;
	}

	@media screen and (min-width: $super-wide) {
		  	max-width: 1100px;
	}

	h2 {
		margin-top: 2.6rem;
		font-size: 1.2rem;
		color: $main;
		font-family: $sans-stack;
		text-transform: uppercase;
	}

	section {
		float: left;
		margin-bottom: 3rem;

		a {
			color: $main;
			transition: $default-trans;
			opacity: 0.85;
			&:hover {
				color: $dark-black;
				opacity: 1;
			}
		}

		.load-more {
			font-family: $sans-stack;
			font-weight: 300;
			display: block;
			margin-top: 1.8rem;
		}

		.new-thing {
			@extend .load-more;
			margin: 0;
			margin-top: 1rem;
		}

		h3 {
			font-size: 1.7rem;
			color: $super-main;
			font-weight: 700;
			font-family: $sans-stack;
			margin: 1.7rem 0 0.5rem 0;
			a {
				color: $super-main;
				text-decoration: none;
			}
		}

		.name {
			font-family: $sans-stack;
			color: $light-main;
			margin-right: 0.35rem;
			font-weight: 400;
			display: inline-block;
			font-size: 0.9rem;
		}
	}

	.admin-bar {
		margin-top: 1rem;
		color: $main;
		font-family: $sans-stack;
		float: none;
		display: block;
		padding-left: $shape-padding-left;
		margin-bottom: 1rem;
		@media screen and (max-width: $max-display) {
			padding-left: 2%;
		  	width: 96%;
		  	margin-bottom: 0;
		}
		.personal-info {
			float: left;
			margin-right: 0.7rem;
		}
		#log-out {
			float: left;
			font-family: $sans-stack;
			font-weight: 300;
		}
	}

	.right-side{
		float: right;
		clear: right;
		width: 33%;
		margin-left: 2%;
		@media screen and (max-width: $max-display) {
		  	float: none;;
		  	width: 80%;
		  	margin-right: 2%;
		  	box-sizing: border-box;
		  	&:last-child a{
		  		margin-top: 0;
		  		margin-right: 0;
		  	}
		}
	}	
	.home-conversations {
		clear: both;
		width: 64%;
		padding-left: $shape-padding-left;
		@media screen and (max-width: $max-display) {
			padding: 2%;
		  	width: 96%;
		}
		.convo {
			position: relative;
			img {
				position: absolute;
				left: -35px;
				top: 0.5rem;
				width: 20px;
				opacity: 0.6;
			}
		}
	}
	.home-groups {
		margin-bottom: 1rem;
		h3	{
			margin: 0;
			margin-bottom: 0.5rem;
			font-size: 1.0rem;
			font-weight: 400;
			color: $light-main;
		}
	}

	.home-contacts{
		.name {
			display: block;
			font-size: 1rem;
			margin-bottom: 0.5rem;
			color: $light-main;
			font-weight: 400;
		}
	}
	.home-mvp {
		a {
			color: $main;
			font-family: $sans-stack;
			font-weight: 900;
			font-size: 0.9rem;
			text-transform: uppercase;
			font-style: italic;
			text-decoration: none;
			border:2px solid $yellow;
			opacity: 0.85;
			transition: $default-trans;
			padding: 0.9rem;
			display: inline-block;
			
			@media screen and (max-width: $max-display) {
				margin-top: 2.6rem;
			}
			&:hover {
				opacity: 1;
				@include background-image(linear-gradient(left, $yellow, $yellow 20%, white 25%, $yellow 30%, $yellow));
			}
		}
	}
}

#new-input-modal, #user-modal {
	display: none;
	position: fixed;
	top: 8%;
	left: 20%;
	right: 20%;
	width: 48%;
	padding: 6%;
	background-color: white;
	font-family: $sans-stack;
	border-radius: 5px;
	font-weight: 300;

	.modal_close {
		cursor: pointer;
		color: $light-main;
		display: inline-block;
		font-size: 1.3rem;
		border-radius: 50%;
		position: absolute;
		top: 2rem;
		right: 3rem;
	}

	input, textarea {
		width: 100%;
		margin-bottom: 2rem;
		border: none;
		border-bottom: 1px solid $light-main;
		font-size: 1.5rem;
	}
	input {
		height: 2.5rem;
		padding: 0.5rem 0;
	}

	textarea {
		margin-top: 0;
		padding-top: 2rem;
		clear: both;
	}
	

	#search_names {
		border-radius: 3px;
		position: absolute;
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: white;
		@include box-shadow($light-box-shadow);
		
		.modal-name {
			background-color: white;
			font-weight: 400;
			padding: 1.1rem;
			cursor: pointer;
			margin: 0;
			&:hover {
				background-color:$super-main;
				color: white;
			}
		}
	}


	.people-select {
		margin-bottom: 2rem;
		position: relative;
		input[name="People"] {
			margin-top: 0;
			margin-bottom: 0;
			// float: left;
		}
		span {
			font-size: 0.9rem;
			background-color: $light-gray;
			display: inline-block;
			border-radius: 1px;
			margin-right: 0.3rem;
			margin-top: 0.7rem;
			padding: 5px 8px;
			color: $dark-main;
		}

		.names-list{
			margin: 0;
			top: -1.2rem;
			list-style-type: none;
			padding: 0;
			// position: absolute;
			float: left;
		}
		.selected-name {
			background-color: $light-gray;
			padding: 5px;
			margin-right: 5px;
			position: relative;
			padding-right: 1.1rem;
			margin-bottom: 0.68rem;
			display: inline-block;
			border-radius: 3px;
			.name_remove{
				position: absolute;
				top: 10px;
				right: 6px;
				display: inline-block;
				font-weight: 300;
				font-size: 0.5em;
				cursor: pointer;
			}
		}
	}
	button {
		float: right;
		background-color: $light-main;
		border:none;
		color: white;
		font-family: $sans-stack;
		font-weight: 400;
		border-radius: 4px;
		padding: 7px 20px;
		@include box-shadow(
			rgba(gray, 0.7) 0 4px 0 0,
			rgba(gray, 0.2) -2px 0px 0 0 inset, 
			rgba(gray, 0.1) 2px 0px 0 0 inset,
			rgba(white, 0.5) 0 2px 0 0 inset
			
		);
		transition: all 0.3s ease;
		&:hover {
			background-color: $dark-main;
			@include box-shadow(
				rgba(black, 0.7) 0 4px 0 0,
				rgba(gray, 0.9) -2px 0px 0 0 inset, 
				rgba(gray, 0.6) 2px 0px 0 0 inset,
				rgba(white, 0.35) 0 2px 0 0 inset
			);
		}
	}
}

#user-modal {
	display: none;
	position: fixed;
	top: 8%;
	left: 20%;
	right: 20%;
	width: 48%;
	padding: 6%;
	background-color: white;
	font-family: $sans-stack;
	border-radius: 5px;
	font-weight: 300;

	.modal_close {
		cursor: pointer;
		color: $light-main;
		display: inline-block;
		font-size: 1.3rem;
		border-radius: 50%;
		position: absolute;
		top: 2rem;
		right: 3rem;
	}

	.info {
		font-size: 1.3rem;
		margin-bottom: 1em;
	}
}



