@import 'partials/variables';
@import "compass";

.wrapper {
	box-sizing: border-box;
	font-family: $sans-stack;
	padding: 6rem;

	a {
		font-weight: 300;
		color: $light-black;
	}

	.back-to-login {
		margin-bottom: 2rem;
		display: inline-block;
	}
		@media screen and (max-height: $max-display) {
		  	padding: 1rem;
		}
		
		@media screen and (max-width: $max-display) {
		  	padding: 0.5rem;
		}

		

	.centered {
		width: 360px;
		margin: 0 auto;

		@media screen and (max-width: $max-display) {
		  	width: $mobile-display;
		}

		span {
			color: $main;
		}
	}

	h2 {
		color: $light-black;
	}


	h1 {
		position: relative;
		padding-bottom: 1.8rem;
		font-family: $sans-stack;
		font-weight: 700;
		color: $light-main;
		font-size: 2.2rem;
		&:before {
			content:"Where conversations happen.";
			position: absolute;
			bottom: 0;
			left: 0;
			font-weight: 400;
			font-size: 1.1rem;
		}
		span {
			color: $dark-main;
			font-weight: 700;
		}
	}



	.forgot {
		display: block;
		margin-top: 0.5rem;
		font-family: $sans-stack;
		color: $light-main;
		font-weight: 300;
		font-size: 0.9rem;
	
		text-align: right;
	}

	.invalidLogin {
			color: red;
			position: absolute;
			width: 205px;
			margin-left: 25px;
			margin-top: -120px;
			font-family: $sans-stack;
			display: none;
	}

	input {
		font-size: 1.2rem;
		height: 35px;
		border: none;
		border-bottom: 1px solid $light-main;
		display: block;
		margin-top: 2rem;
		font-family: $sans-stack;
		font-weight: 300;
		width: $mid-display;
		@media screen and (max-width: $max-display) {
		  	width: $mobile-display;
		}
	}

	a.signup {
		display: inline-block;
		font-family: $sans-stack;
		text-decoration: none;
		padding: 0.45rem 0 0.35rem 0;
		text-align: center;
		margin-right: 2%;
		width: 49%; 
		float: left;
		color: white;
		font-weight: 400;
		margin-top: 2rem;
		// height: 40px;
		background-color: $light-main;
		border: none;
		font-size: 1.1rem;
		border-radius: 4px;
		@include box-shadow(
			$bottom-sub 0 4px 0 0,
			$left-sub -2px 0px 0 0 inset, 
			$right-sub 2px 0px 0 0 inset,
			$top-sub 0 2px 0 0 inset
		);
		transition: all 0.3s ease;
		&:hover {
			background-color: $dark-main;
			@include box-shadow(
				$bottom-sub-dark 0 4px 0 0,
				$left-sub-dark -2px 0px 0 0 inset, 
				$right-sub-dark 2px 0px 0 0 inset,
				$top-sub-dark 0 2px 0 0 inset
				
			);
		}
		
		@media screen and (max-width: $max-display) {
		  	padding: 0.75rem 0 0.65rem 0;
		}
	}
	input.login {
		@extend a.signup;
		background-color: $main;
		@include box-shadow(
			$dark-bottom-main 0 4px 0 0,
			$dark-left-main -2px 0px 0 0 inset, 
			$dark-right-main 2px 0px 0 0 inset,
			$dark-top-main 0 2px 0 0 inset
		);
		transition: all 0.3s ease;
		&:hover {
			background-color: $super-main;
			@include box-shadow(
				$dark-bottom-main-dark 0 4px 0 0,
				$dark-left-main-dark -2px 0px 0 0 inset, 
				$dark-right-main-dark 2px 0px 0 0 inset,
				$dark-top-main-dark 0 2px 0 0 inset
				
			);
		}
		margin-right: 0;
	}	

	input.submit {
		@extend .login;
		width: 100%;
		margin-bottom: 2rem;
	}
}