@import 'partials/variables';
@import "compass";

.wrapper {
	box-sizing: border-box;
	padding: 6rem;
		@media screen and (max-height: $max-display) {
		  	padding: 1rem;
		}
		
		@media screen and (max-width: $max-display) {
		  	padding: 0.5rem;
		}

		

	.centered {
		width: 360px;
		margin: 0 auto;

		@media screen and (max-width: $max-display) {
		  	width: $mobile-display;
		}
	}
	h1 {
		position: relative;
		padding-bottom: 1.8rem;
		font-family: $sans-stack;
		font-weight: 700;
		color: $light-gray;
		font-size: 2.2rem;
		&:before {
			content:"Where conversations happen.";
			position: absolute;
			bottom: 0;
			left: 0;
			font-weight: 400;
			font-size: 1.1rem;
		}
		span {
			color: $dark-gray;
			font-weight: 700;
		}
	}

	.forgot {
		display: block;
		margin-top: 0.5rem;
		font-family: $sans-stack;
		color: $light-gray;
		font-weight: 300;
		font-size: 0.9rem;
	
		text-align: right;
	}

	input {
		font-size: 1.2rem;
		height: 35px;
		border: none;
		border-bottom: 1px solid $light-gray;
		display: block;
		margin-top: 2rem;
		font-family: $sans-stack;
		font-weight: 300;
		width: $mid-display;
		@media screen and (max-width: $max-display) {
		  	width: $mobile-display;
		}
	}

	input[type="submit"] {
		margin-right: 2%;
		width: 49%; 
		float: left;
		color: white;
		font-weight: 400;
		margin-top: 2rem;
		height: 40px;
		background-color: $light-gray;
		border: none;
		font-size: 1.1rem;
		border-radius: 4px;
		@include box-shadow(
			$bottom-shadow 0 4px 0 0,
			$left-shadow -2px 0px 0 0 inset, 
			$right-shadow 2px 0px 0 0 inset,
			$top-shadow 0 2px 0 0 inset
		);
		transition: all 0.3s ease;
		&:hover {
			background-color: $dark-gray;
			@include box-shadow(
				$bottom-shadow-dark 0 4px 0 0,
				$left-shadow-dark -2px 0px 0 0 inset, 
				$right-shadow-dark 2px 0px 0 0 inset,
				$top-shadow-dark 0 2px 0 0 inset
				
			);
		}
		&:last-of-type {
			margin-right: 0;
			background-color: $gray;
			@include box-shadow(
				$dark-bottom-shadow 0 4px 0 0,
				$dark-left-shadow -2px 0px 0 0 inset, 
				$dark-right-shadow 2px 0px 0 0 inset,
				$dark-top-shadow 0 2px 0 0 inset
			);
			transition: all 0.3s ease;
			&:hover {
				background-color: $super-gray;
				@include box-shadow(
					$dark-bottom-shadow-dark 0 4px 0 0,
					$dark-left-shadow-dark -2px 0px 0 0 inset, 
					$dark-right-shadow-dark 2px 0px 0 0 inset,
					$dark-top-shadow-dark 0 2px 0 0 inset
					
				);
			}
		}

	}
}