@import 'partials/normalize';
@import 'partials/variables';
@import "compass";


html,
body {
	height: 100%;
	font-size: 16px;
	font-family: $serif-stack;	
	box-sizing: border-box;
	@media screen and (max-width: $max-display) {
	  	font-size: 13px;
	}
}

*:focus {outline: none;}

::-webkit-input-placeholder {
   color: $light-gray;
}

:-moz-placeholder { /* Firefox 18- */
   color: $light-gray;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $light-gray;  
}
:-ms-input-placeholder {  
   color: $light-gray;  
}


