@import 'partials/variables';
@import "compass";


.wrapper {
	height: 100%;
	box-sizing: border-box;
	padding: 6rem;
	position: relative;
	h1 {
		margin: auto;
		margin-bottom: 2rem;
		max-width: $max-display;
		min-width: $min-display;
		position: relative;
		padding-top: 1.5rem;
		font-family: $sans-stack;
		font-weight: 700;
		color: $light-gray;
		font-size: 2.2rem;
		&:before {
			content:"Topic of Today";
			position: absolute;
			top: 0;
			left: 0;
			font-weight: 300;
			font-size: 1.1rem;
		}
	}
}

.display {
	margin: 0 auto;
	padding: 20px 0;
	max-width: $max-display;
	min-width: $min-display;
	min-height: $min-display;
	height: 45%;
	overflow-y: scroll;
}

.display-area{
	color: $light-black;
	font-weight: 400;
	font-size: 1.05rem;
	p, br{
		margin: 0;
	}
	p {
		line-height: 1.45rem;
	}
}

.display-fade {
	position: absolute;
	height: 50px;
	z-index: 10;
	@include background-image(linear-gradient(white, rgba(white, 0)));
}

.display-fade-bottom {
	@extend .display-fade;
	@include background-image(linear-gradient(rgba(white, 0), white));
	margin-top: -50px;
}

.input-area {
	margin: 0 auto;
	margin-top: 2rem;
	max-width: $max-display;
	min-width: $min-display;
	color: $light-black;
	font-size: 1.2rem;
	form {
		width: 100%;
		textarea {
			width: 100%;
			border: none;
			border-radius: 2px;
			padding: 1rem 0;
			box-sizing: border-box;

		}
		input {
			display: block;
			margin-top: 1rem;
			float: right;
		}

	}
}