<!DOCTYPE html>
<html>
<head>
	<!--[if lt IE 9]>
	<script src="js/lib/html5shiv.min.js"></script>
	<![endif]-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />	
	<title>Ha! You're in no man's land.</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900italic|Merriweather:400,300italic,300,700,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/error.css">
</head>
<body>
	<h1>{{{title}}}</h1>
	<h3 style='color: gray'>{{{message}}}</h3>
	<a href="..">Return to Home</a>
</body>
</html>



