<!DOCTYPE html>
<html>
<head>
	<!--[if lt IE 9]>
	<script src="dist/html5shiv.js"></script>
	<![endif]-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />	
	<title>Meaningful - Forgot Password</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Merriweather:400,300italic,300,700,900' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body>
	<div class="wrapper">
		<a href="/login">< back to login</a>
		<div class="centered">
			<h2>I Forgot My Password!</h2>
			<span>If you remember your username, you can submit a request for a password reset email to be sent to your email.</span>
			<form id='submitForm' action="/forgot" method="POST">
				<input type="hidden" name="_csrf" value={{csrfToken}} />
				<input type="email" placeholder="Email" name="username" required autofocus="true">
				<input class="submit" type="submit" value="submit"></input>
			</form>
			<br>
			<span class="message"></span>
		</div>
		<div class="centered">
			<br><br>
			<span>Need further assistance?  Contact <a href="mailto:goldenconversations@gmail.com">us by email</a><br>We'll do our best to help!</span>
		</div>
	</div>

	<script type="text/javascript" src="/js/forgotPassword.js"></script>
</body>
</html>