<!DOCTYPE html>
<html>
<head>
	<!--[if lt IE 9]>
	<script src="js/lib/html5shiv.js"></script>
	<![endif]-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />	
	<title>Meaningful - Hall of Fame</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900italic|Merriweather:400,300italic,300,700,900' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/hof.css">
</head>
<body>
	<div class="wrapper">
		<section class="admin-bar">
			<div><a href="..">&lt; All Conversations</a></div>
		</section>
		<section class="home-conversations hof-conversations">
			<div class="conversation-content">
				<h2>Golden Conversations</h2>
				<div id="conversation-entries">
					<div id="golden-conversations">
						<div class="convo">
							<h3><a href="#">An Amazing Conversation</a></h3>
							<span class="name">Tony Jing</span><span class="name">Nikil Selvam</span><span class="name">Erik L</span>
						</div>
						<div class="convo">
							<h3><a href="#">A Truly Golden Conversation</a></h3>
							<span class="name">Tony Jing</span><span class="name">Nikil Selvam</span><span class="name">Erik L</span>
						</div>
					</div>
					<div id="gold-plated-conversations">
						<div class="convo">
							<h3><a href="#">How much wood would a woodchuck chuck?</a></h3>
							<span class="name">Tony Jing</span><span class="name">Nikil Selvam</span><span class="name">Erik L</span><span class="name">Woody Woodchuck</span>
						</div>
						<div class="convo">
							<h3><a href="#">The President's Choice</a></h3>
							<span class="name">Theodore Roosevelt</span><span class="name">Abraham Lincoln</span><span class="name">Thomas Jefferson</span>
							<span class="name">Franklin D. Roosevelt</span>
						</div>
					</div>
					<div id="saved-conversations">
						<div class="convo">
							<h3><a href="#">Your best moments of 2014</a></h3>
							<span class="name">Lebron James</span><span class="name">Futebol do Brasil</span><span class="name">L. Messi</span>
							<span class="name">Mihaly Csikszentmihalyi</span>
						</div>
						<div class="convo">
							<h3><a href="#">What books ahve influenced you?</a></h3>
							<span class="name">Charles Xavier</span><span class="name">Leonardo Da Vinci</span><span class="name">Flying Dutchman</span>
							<span class="name">Ang Lee</span>
						</div>
					</div>
				</div>

			</div>
		</section>
		<div class="right-container">
			<section class="hof-helper right-side">
				<h2>What are <br><span>Golden<br> Conversations?</span></h2>
				<p>Conversations that all participants have added to the Hall of Fame are <span class="gold-label">golden</span>. Conversations with one or more participants adding to the HOF are <span class="goldeplated-label"></span>gold plated . For conversations only you’ve added to the HOF, there is no gold. So Ask the other participants to add them so they too can become golden!</p>
			</section >
			<section class="hof-stats right-side">
				<h2>My Stats</h2>
			</section >
		</div>
	</div>
</body>
</html>