<!DOCTYPE html>
<html>
<head>
	<!--[if lt IE 9]>
	<script src="dist/html5shiv.js"></script>
	<![endif]-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />	
	<title>Meaningful - Home</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Merriweather:400,300italic,300,700,900' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/home.css">
</head>
<body>
	
<div class="personal-info">Welcome, {{user.firstName}} {{user.lastName}}!</div>
	<div class="wrapper">

		<section class="home-conversations">

			<a href="#" class="new-convo"><span>New Conversation</span> +</a>
		
			
			<div class="conversation-content">
				<h2>Recent Conversations</h2>
				<div class="convo1 convo">
					<h3>What does 'je ne sais quoi?' mean?</h3>
					<span class="name1 name">Nikil Selvam</span>
					<span class="name2 name">Erik Luo</span>
					<span class="name3 name">Tony Jing</span>
				</div>
				<div class="convo2 convo">
					<h3>The World Cup</h3>
					<span class="name1 name">Nikil Selvam</span>
					<span class="name2 name">Erik Luo</span>
					<span class="name3 name">Tony Jing</span>
					<span class="name4 name">John Smith</span>
				</div>
				<div class="convo3 convo">
					<h3>What is the best fruit in the world?</h3>
					<span class="name1 name">Nikil Selvam</span>
					<span class="name2 name">Erik Luo</span>
					<span class="name3 name">Tony Jing</span>
					<span class="name4 name">Fifi Yeung</span>
					<span class="name4 name">Sarah J.</span>
					<span class="name4 name">Thomas Jefferson</span>
				</div>
				<div class="convo4 convo">
					<h3>On the topic of work and bliss</h3>
					<span class="name1 name">Nikil Selvam</span>
					<span class="name2 name">Erik Luo</span>
					<span class="name3 name">Tony Jing</span>
				</div>
				<div class="convo4 convo">
					<h3>How can we ask ourselves, the tough questions in life and get real answers?</h3>
					<span class="name1 name">Nikil Selvam</span>
					<span class="name2 name">Erik Luo</span>
					<span class="name3 name">Tony Jing</span>
					<span class="name4 name">Wofu Uganda</span>
				</div>
				<a href="#" class="load-more">Load More</a>
			</div>
		</section>

		<section class="home-groups">
			<a href="#">Create a New Group</a>
			<h2>Groups</h2>
			<div class="groups-content">
			</div>
		</section>

		<section class="home-mvp">
			<h2>Hall of Fame</h2>
			<div class="mvp-content">
			</div>
		</section>

		<section class="home-contacts">
			<h2>Recent Contacts</h2>
			<div class="contacts-content">
			</div>
		</section >
	

	</div>
	
</body>
</html>