<!DOCTYPE html>
<html>
<head>
	<!--[if lt IE 9]>
	<script src="dist/html5shiv.js"></script>
	<![endif]-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />	
	<title>Meaningful - Home</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900italic|Merriweather:400,300italic,300,700,900' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
	<script src="js/lib/jquery.leanModal.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
</head>
<body>
	<div class="wrapper">
		<section class="admin-bar">
			<div class="personal-info">Welcome, <a href="#">{{user.firstName}} {{user.lastName}}!</a></div>
			<div id="log-out"><a href="/logout">Log Out</a></div>
		</section>

		<section class="home-conversations">
			<div class="conversation-content">
				<h2>Conversations</h2>
				<div id="conversation-entries">
					<div class="convo1 convo">
						<img src="img/1three.svg">
						<h3>What does 'je ne sais quoi?' mean?</h3>
						<span class="name1 name">Nikil Selvam</span>
						<span class="name2 name">Erik Luo</span>
						<span class="name3 name">Tony Jing</span>
					</div>
					<div class="convo2 convo">
						<img src="img/1two.svg">
						<h3>The World Cup</h3>
						<span class="name1 name">Nikil Selvam</span>
						<span class="name2 name">Erik Luo</span>
					</div>
					<div class="convo3 convo">
						<img src="img/1six.svg">
						<h3>What is the best fruit in the world?</h3>
						<span class="name1 name">Nikil Selvam</span>
						<span class="name2 name">Erik Luo</span>
						<span class="name3 name">Tony Jing</span>
						<span class="name4 name">Fifi Yeung</span>
						<span class="name5 name">Sarah J.</span>
						<span class="name6 name">Thomas Jefferson</span>
					</div>
					<div class="convo4 convo">
						<img src="img/1five.svg">
						<h3>On the topic of work and bliss</h3>
						<span class="name1 name">Nikil Selvam</span>
						<span class="name2 name">Erik Luo</span>
						<span class="name3 name">Tony Jing</span>
					</div>
					<div class="convo4 convo">
						<img src="img/1four.svg">
						<h3>How can we ask ourselves, the tough questions in life and get real answers?</h3>
						<span class="name1 name">Nikil Selvam</span>
						<span class="name2 name">Erik Luo</span>
						<span class="name3 name">Tony Jing</span>
						<span class="name4 name">Wofu Uganda</span>

					</div>
				</div>
				<a href="#"class="load-more">Load More</a>
				<a href="#new-input-modal" id="new-convo" class="new-thing"><span>Start a New Conversation</span></a>
			</div>
		</section>

		
		<section class="home-groups right-side">
			<h2>Groups</h2>
			<div class="groups-content">
				<h3>The trio show</h3>
				<h3>Sports</h3>
				<h3>Inkterns</h3>
			</div>
			<a href="#" class="load-more">View All Groups</a>
			<a href="#" class="new-thing"><span>Create a New Group</span></a>
		</section>

		<section class="home-contacts right-side">
			<h2>Contacts</h2>
			<div class="contacts-content">
				<span class="name1 name">Nikil Selvam</span>
				<span class="name2 name">Erik Luo</span>
				<span class="name3 name">Tony Jing</span>
				<span class="name4 name">Fifi Yeung</span>
				<span class="name5 name">Sarah J.</span>

			</div>
		</section >
	
		<section class="home-mvp right-side">
			<a href="#">Hall of Fame</a>
			<div class="mvp-content">
			</div>
		</section>

	</div>
	<div id="new-input-modal">
		<div class="modal_close">x</div>
		<form>
			  <div class="txt-fld">
			    <input class="good_input" name="Topic" type="text" placeholder="Topic">

			  </div>
			  <div class="txt-fld people-select">
			    <input name="People" type="text" placeholder="People">
			    <span class="name1 name">Nikil Selvam</span>
				<span class="name2 name">Erik Luo</span>
				<span class="name3 name">Tony Jing</span>
				<span class="name4 name">Fifi Yeung</span>
				<span class="name5 name">Sarah J.</span>

			  </div>
			  <div class="txt-fld">
			   <textarea name="content" rows="3" cols="20" placeholder="Write down your thoughts"></textarea>
			  </div>
			  <div class="btn-fld">
			  <button type="submit">Create</button>
			  </div>


		</form>
		
	</div>
	<script type='text/javascript'>
		var username = '{{user.username}}';
		var userId = '{{user._id}}';
		var token = '{{csrfToken}}';
		$("#new-convo").leanModal({ top : 100, overlay : 0.5, closeButton: ".modal_close" });
	</script>
	<script type='text/javascript' src='/js/home.js'></script>
	<script type="text/javascript">


	</script>
</body>
</html>