<!DOCTYPE html>
<html>
<head>
	<!--[if lt IE 9]>
	<script src="js/lib/html5shiv.min.js"></script>
	<![endif]-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />	
	<title>Meaningful - Home</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900italic|Merriweather:400,300italic,300,700,900' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
	<script src="js/lib/jquery.leanModal.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
</head>
<body>
	<div class="wrapper">
		<section class="admin-bar">
			<div class="personal-info">Welcome, <a href="#user-modal" id="user-profile" rel="leanModal">{{{user.firstName}}} {{{user.lastName}}}</a>!</div>
			<div id="log-out"><a href="/logout">Log Out</a></div>
		</section>

		<section class="home-conversations">
			<div class="conversation-content">
				<h2>Conversations</h2>
				<a href="#new-input-modal" id="new-convo" class="new-thing" rel="leanModal"><span>Start a New Conversation</span></a>
				<div id="conversation-entries">
				</div>
			</div>
		</section>

		<div class="right-container">
			<section class="home-contacts right-side">
				<h2>Contacts</h2>
				<div class="contacts-content">
				</div>
			</section >
			<section class="home-mvp right-side">
				<a href="halloffame">Hall of Fame</a>
				<div class="mvp-content">
				</div>
			</section>
		</div>

	</div>
	<div id="new-input-modal">
		<div class="modal_close">x</div>
		<form id="convo-creation-form">
			<input type="hidden" name="_csrf" value={{csrfToken}} />
			<div class="txt-fld">
				<input class="good_input" name="Topic" type="text" placeholder="Topic" autocomplete="off" required>
			</div>
			<div class="txt-fld people-select">
			  	<ul class="names-list"></ul>
			    <input id="people_input" name="People" type="text" placeholder="People" autocomplete="off" >
			    <ul id="search_names">
			    </ul>
			</div>
			<div class="txt-fld">
			   <textarea name="content" rows="3" cols="20" placeholder="Write down your thoughts"></textarea>
			</div>
			<div class="btn-fld">
			  <button id="create-submit-button" type="button">Create</button>
			</div>
		</form>
	</div>
	<div id="user-modal">
		<div class="modal_close">x</div>
		<div id="name" class="info">
			<span class="label">User:</span>
			<span class="content">{{{user.firstName}}} {{{user.lastName}}}</span>
		</div>
		<div id="email" class="info">
			<span class="label">Email:</span>
			<span class="content">{{{user.username}}}</span>
		</div>
		<div id="joined" class="info">
			<span class="label">Joined:</span>
			<span class="content">{{{user.joined}}}</span>
		</div>
		<div id="conversations" class="info">
			<span class="label">Number of conversations:</span>
			<span class="content">{{{user.userConversations.length}}}</span>
		</div>
		<div id="bio" class="info">
			<span class="label">Bio:</span>
			<span class="content">{{{user.description}}}</span>
		</div>
		<div class="btn-fld">
			<button id="edit-my-info" type="button">Edit</button>
		</div>
		<div class="btn-fld">
			<button id="invite-user" type="button">Invite to Conversation</button>
		</div>
	</div>
	<script type='text/javascript'>
		var username = '{{user.username}}';
		var userId = '{{user._id}}';
		var token = '{{csrfToken}}';

		// Display the appropriate leanModal when a link with a corresponding leanModal is clicked.
 		$("a[rel*=leanModal]").leanModal({
 			top : 100,
 			overlay : 0.5,
 			closeButton: ".modal_close"
 		});
	</script>
	<script type='text/javascript' src='/js/home.js'></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#new-convo').click(function(){
				$('.good_input').focus().val('').attr('placeholder', 'Topic');
				$('#people_input').val('').attr('placeholder', 'People');
				$('textarea').val('').attr('placeholder', 'Write down your thoughts');
			});

			var numOfNames;

			$('#search_names').on('click', '.modal-name', function(){
				var name = $(this).text();
				var id = $(this).attr('data-id');
				
				$('<li  style="display: none;" data-id="' + id + '" class="selected-name">' + name + '<div class="name_remove">X</div></li>').appendTo($('.names-list')).fadeIn('fast');
				$('#search_names li').remove();
				if ($('.names-list li').length === 1){
					$('#people_input').hide().slideDown('fast');
				}
				$('#people_input').val('').attr('placeholder', 'Add More').focus();

				$('.modal_close').click(function(){
					$('.names-list li').remove();
				});

				numOfNames = $('li.selected-name').length;
				if (numOfNames >= 5){
					$('#people_input').hide();
					$('textarea').focus();
				}
			}); // search on click
		
			$('#convo-creation-form').on('click', '.name_remove', function(){
				$(this).parent().remove();
				if (numOfNames >= 4){
					$('#people_input').show().focus();
				}
 			});

 			$('.recent-contact').click(function(){
 				$('#edit-my-info').hide();
 				$('#invite-user').show();
 			});

 			$('#user-profile').click(function(){
 				$('#invite-user').hide();
 				$('#edit-my-info').show();
 			});
		}); // ready
	</script>
</body>
</html>