<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />	
	<title>Golden</title>
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	
</head>
<body>
	<div class="wrapper">
		<h1>G.C.</h1>
		<div class="display-area">
			

		</div>
		<div class="input-area">

			<form action="#" method="POST">
				<textarea name="textarea" rows="8" cols="50">Converse</textarea>
				<input type="submit" value="Send">
			</form>
					

		</div>
	</div>
</body>
</html>