<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />	
	<title>Golden</title>
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	
</head>
<body>
	<div class="wrapper">
		<h1>G.C.</h1>
		<div class="display-area">
			

		</div>
		<div class="input-area">

			<form id='mainform' action="/post" method="POST">
				<textarea name="content" rows="8" cols="50">Converse</textarea>
				<input type="submit" value="Send">
				<input type="hidden" value="testName" name="name">
			</form>
					

		</div>
	</div>
	<script type='text/javascript' src='js/lib/jquery.min.js'></script>
	<script type='text/javascript' src='js/lib/underscore.min.js'></script>
	<script type='text/javascript' src='js/lib/backbone.min.js'></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type='text/javascript' src='js/Application.js'></script>
</body>
</html>