<!DOCTYPE html>
<html>
<head>
	<!--[if lt IE 9]>
	<script src="dist/html5shiv.js"></script>
	<![endif]-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />	
	<title>Meaningful - Where Conversations Happen.</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Merriweather:400,300italic,300,700,900' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
</head>
<body>
	<header>
		<div class="header-inner">
			<h1>Meaningful.</h1>
			<div class="header-buttons">
				<a id ="login" href="login">Login</a>
				<a id="join" href="signup">Join Beta</a>
			</div>
		</div>
	</header>
	<div class="content-wrapper">
		<h2>Conversations with close friends.</h2>
		<h3>Converse with up to 5 people.</h3>
		<p>Conversations with large groups of people feel like forum message. <br>Converse with a handful of close friends in each conversation.</p>
		<h3>Share passages of 140 characters or more.</h3>
		<p>No more one word messages like ‘ok’, ‘cool’ or ‘I see’. <br>Send longer passages with more substance and meaning. </p>
		<h3>Save memorable, meaningful conversations.</h3>
		<p>On Meaningful, conversations disappear after a month of no response. <br>However, saving conversations to the <span>Hall of Fame</span> keeps them for the future.</p>
	</div>
	<a id="join-cta" href="signup">Join Beta</a>
	<footer>Meaningful is a tool from <a href="#">Erik</a>, <a href="#">Nikil</a> and <a href="#">Tony</a>. <br>Rights reserved unless otherwise noted.</footer>
</body>
</html>