<!DOCTYPE html>
<html>
<head>
	<!--[if lt IE 9]>
	<script src="dist/html5shiv.js"></script>
	<![endif]-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />	
	<title>Meaningful - Login</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Merriweather:400,300italic,300,700,900' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body>
<div class="wrapper">
	<div class="centered">

	<h1><span>Meaningful<span>.</h1>
	<form id='login' action="/login" method="POST">
		<input type="hidden" name="_csrf" value={{csrfToken}} />
		<input type="email" placeholder="Email" name="username" required>
		<input type="password" placeholder="Password" name="password" requred>
		<a class="forgot" href="#">Forgot your password?</a>
		<a class="signup" href='/signup'>Sign Up</a>
		<input class="login" type="submit" value="Login"></input>
	</form>
	<span class="invalidLogin">The email or password you typed didn't match our records. Please try again.</span>


	<!-- <textarea name="description" rows="6" cols="40" placeholder="Enter a short bio."></textarea>
	<form name="myphoto" id="myphoto" action="" method="post" enctype="multipart/form-data" >
		<label for="upload" >Select  Image</label>
		<input type="file" id="upload" name="upload" accept="image/*">
		<input type="submit" value="Go" >
	</form> -->

	<script type='text/javascript' src='/js/login.js'></script>

	</div>
</div>
	
</body>
</html>