/* line 5, ../sass/messaging.scss */
.wrapper {
  height: 90%;
  box-sizing: border-box;
  padding: 6rem;
  padding-top: 4.5rem;
  position: relative;
}
/* line 11, ../sass/messaging.scss */
.wrapper h1 {
  margin: auto;
  margin-bottom: 0.5rem;
  max-width: 750px;
  min-width: 280px;
  position: relative;
  padding-top: 1.5rem;
  font-family: "Lato", "Lucidia Grande", serif;
  font-weight: 700;
  color: #b0b0b0;
  font-size: 2.2rem;
}
/* line 22, ../sass/messaging.scss */
.wrapper h1:before {
  content: "Topic of Today";
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  font-size: 1.1rem;
}
@media screen and (max-width: 750px) {
  /* line 11, ../sass/messaging.scss */
  .wrapper h1 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
}
@media screen and (max-height: 750px) {
  /* line 5, ../sass/messaging.scss */
  .wrapper {
    padding: 2rem;
  }
}
@media screen and (max-width: 750px) {
  /* line 5, ../sass/messaging.scss */
  .wrapper {
    padding: 1rem;
  }
}

/* line 44, ../sass/messaging.scss */
.display {
  margin: 0 auto;
  padding: 0.7rem 0;
  max-width: 750px;
  min-width: 280px;
  height: 55%;
  min-height: 180px;
  overflow-y: scroll;
}
@media screen and (max-width: 750px) {
  /* line 44, ../sass/messaging.scss */
  .display {
    padding-bottom: 10px;
  }
}
@media screen and (max-height: 750px) {
  /* line 44, ../sass/messaging.scss */
  .display {
    height: 180px;
  }
}

/* line 60, ../sass/messaging.scss */
.display-area {
  color: #383838;
  font-weight: 400;
  font-size: 1rem;
}
/* line 64, ../sass/messaging.scss */
.display-area p, .display-area br {
  margin: 0;
}
/* line 67, ../sass/messaging.scss */
.display-area p {
  line-height: 1.45rem;
}
@media screen and (max-width: 750px) {
  /* line 67, ../sass/messaging.scss */
  .display-area p {
    font-size: 1.2rem;
  }
}

/* line 76, ../sass/messaging.scss */
.display-fade, .display-fade-bottom {
  position: absolute;
  height: 1.8rem;
  z-index: 10;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(#ffffff, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(#ffffff, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(#ffffff, rgba(255, 255, 255, 0));
  background-image: linear-gradient(#ffffff, rgba(255, 255, 255, 0));
}

/* line 83, ../sass/messaging.scss */
.display-fade-bottom {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  margin-top: -50px;
}

/* line 89, ../sass/messaging.scss */
.input-area {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 750px;
  min-width: 280px;
  max-height: 400px;
  color: #383838;
  font-size: 1.1rem;
}
/* line 97, ../sass/messaging.scss */
.input-area form {
  width: 100%;
}
/* line 99, ../sass/messaging.scss */
.input-area form textarea {
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 1rem 0;
  box-sizing: border-box;
}
@media screen and (max-width: 750px) {
  /* line 99, ../sass/messaging.scss */
  .input-area form textarea {
    height: 90px;
    padding: 0;
  }
}
/* line 110, ../sass/messaging.scss */
.input-area form input {
  display: block;
  margin-top: 1rem;
  float: right;
}
/* line 115, ../sass/messaging.scss */
.input-area form input[type="submit"] {
  background-color: #b0b0b0;
  border: none;
  color: white;
  font-family: "Lato", "Lucidia Grande", serif;
  font-weight: 400;
  border-radius: 4px;
  padding: 7px 20px;
  -webkit-box-shadow: rgba(128, 128, 128, 0.7) 0 4px 0 0, rgba(128, 128, 128, 0.2) -2px -1px 0 0 inset, rgba(128, 128, 128, 0.1) 2px -1px 0 0 inset, rgba(255, 255, 255, 0.5) 0 2px 0 0 inset;
  -moz-box-shadow: rgba(128, 128, 128, 0.7) 0 4px 0 0, rgba(128, 128, 128, 0.2) -2px -1px 0 0 inset, rgba(128, 128, 128, 0.1) 2px -1px 0 0 inset, rgba(255, 255, 255, 0.5) 0 2px 0 0 inset;
  box-shadow: rgba(128, 128, 128, 0.7) 0 4px 0 0, rgba(128, 128, 128, 0.2) -2px -1px 0 0 inset, rgba(128, 128, 128, 0.1) 2px -1px 0 0 inset, rgba(255, 255, 255, 0.5) 0 2px 0 0 inset;
  transition: all 0.3s ease;
}
/* line 131, ../sass/messaging.scss */
.input-area form input[type="submit"]:hover {
  background-color: #555555;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 4px 0 0, rgba(128, 128, 128, 0.9) -2px -1px 0 0 inset, rgba(128, 128, 128, 0.6) 2px -1px 0 0 inset, rgba(255, 255, 255, 0.45) 0 2px 0 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 4px 0 0, rgba(128, 128, 128, 0.9) -2px -1px 0 0 inset, rgba(128, 128, 128, 0.6) 2px -1px 0 0 inset, rgba(255, 255, 255, 0.45) 0 2px 0 0 inset;
  box-shadow: rgba(0, 0, 0, 0.6) 0 4px 0 0, rgba(128, 128, 128, 0.9) -2px -1px 0 0 inset, rgba(128, 128, 128, 0.6) 2px -1px 0 0 inset, rgba(255, 255, 255, 0.45) 0 2px 0 0 inset;
}
@media screen and (max-width: 750px) {
  /* line 89, ../sass/messaging.scss */
  .input-area {
    margin-top: 0;
  }
}
