/* line 5, ../sass/messaging.scss */
.wrapper {
  height: 90%;
  box-sizing: border-box;
  padding: 6rem;
  padding-top: 4.5rem;
  position: relative;
}
/* line 12, ../sass/messaging.scss */
.wrapper #return-home {
  position: absolute;
  color: #777777;
}
/* line 17, ../sass/messaging.scss */
.wrapper h1 {
  margin: auto;
  margin-bottom: 0.5rem;
  max-width: 750px;
  min-width: 280px;
  position: relative;
  padding-top: 1.5rem;
  font-family: "Lato", "Lucidia Grande", serif;
  font-weight: 700;
  font-size: 2.2rem;
}
/* line 27, ../sass/messaging.scss */
.wrapper h1:before {
  content: "Topic of Today";
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  font-size: 1.1rem;
}
@media screen and (max-width: 750px) {
  /* line 17, ../sass/messaging.scss */
  .wrapper h1 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
}
@media screen and (max-height: 750px) {
  /* line 5, ../sass/messaging.scss */
  .wrapper {
    padding: 2rem;
  }
}
@media screen and (max-width: 750px) {
  /* line 5, ../sass/messaging.scss */
  .wrapper {
    padding: 1rem;
  }
}

/* line 49, ../sass/messaging.scss */
.optionsTitle {
  margin: 0;
  font-family: "Lato", "Lucidia Grande", serif;
  font-weight: 700;
}

/* line 55, ../sass/messaging.scss */
.options {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
  position: absolute;
}
/* line 61, ../sass/messaging.scss */
.options li a {
  font-family: "Lato", "Lucidia Grande", serif;
  color: #777777;
}

/* line 67, ../sass/messaging.scss */
.display {
  margin: 0 auto;
  padding: 0.7rem 0;
  max-width: 750px;
  min-width: 280px;
  height: 55%;
  min-height: 180px;
  overflow-y: scroll;
}
@media screen and (max-width: 750px) {
  /* line 67, ../sass/messaging.scss */
  .display {
    padding-bottom: 10px;
  }
}
@media screen and (max-height: 750px) {
  /* line 67, ../sass/messaging.scss */
  .display {
    height: 180px;
  }
}

/* line 83, ../sass/messaging.scss */
.display-area {
  color: #383838;
  font-weight: 400;
  font-size: 1rem;
}
/* line 87, ../sass/messaging.scss */
.display-area p, .display-area br {
  margin: 0;
}
/* line 90, ../sass/messaging.scss */
.display-area p {
  line-height: 1.45rem;
}
@media screen and (max-width: 750px) {
  /* line 90, ../sass/messaging.scss */
  .display-area p {
    font-size: 1.2rem;
  }
}

/* line 99, ../sass/messaging.scss */
.display-fade, .display-fade-bottom {
  position: absolute;
  height: 1.8rem;
  z-index: 10;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(#ffffff, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(#ffffff, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(#ffffff, rgba(255, 255, 255, 0));
  background-image: linear-gradient(#ffffff, rgba(255, 255, 255, 0));
}

/* line 106, ../sass/messaging.scss */
.display-fade-bottom {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  margin-top: -50px;
}

/* line 112, ../sass/messaging.scss */
.input-area {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 750px;
  min-width: 280px;
  max-height: 400px;
  color: #383838;
  font-size: 1.1rem;
}
/* line 120, ../sass/messaging.scss */
.input-area form {
  width: 100%;
}
/* line 122, ../sass/messaging.scss */
.input-area form textarea {
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 1rem 0;
  box-sizing: border-box;
}
@media screen and (max-width: 750px) {
  /* line 122, ../sass/messaging.scss */
  .input-area form textarea {
    height: 90px;
    padding: 0;
  }
}
/* line 133, ../sass/messaging.scss */
.input-area form input {
  display: block;
  margin-top: 1rem;
  float: right;
}
/* line 138, ../sass/messaging.scss */
.input-area form input[type="submit"] {
  background-color: #b0b0b0;
  border: none;
  color: white;
  font-family: "Lato", "Lucidia Grande", serif;
  font-weight: 400;
  border-radius: 4px;
  padding: 7px 20px;
  -webkit-box-shadow: rgba(128, 128, 128, 0.7) 0 4px 0 0, rgba(128, 128, 128, 0.2) -2px -1px 0 0 inset, rgba(128, 128, 128, 0.1) 2px -1px 0 0 inset, rgba(255, 255, 255, 0.5) 0 2px 0 0 inset;
  -moz-box-shadow: rgba(128, 128, 128, 0.7) 0 4px 0 0, rgba(128, 128, 128, 0.2) -2px -1px 0 0 inset, rgba(128, 128, 128, 0.1) 2px -1px 0 0 inset, rgba(255, 255, 255, 0.5) 0 2px 0 0 inset;
  box-shadow: rgba(128, 128, 128, 0.7) 0 4px 0 0, rgba(128, 128, 128, 0.2) -2px -1px 0 0 inset, rgba(128, 128, 128, 0.1) 2px -1px 0 0 inset, rgba(255, 255, 255, 0.5) 0 2px 0 0 inset;
  transition: all 0.3s ease;
}
/* line 154, ../sass/messaging.scss */
.input-area form input[type="submit"]:hover {
  background-color: #555555;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 4px 0 0, rgba(128, 128, 128, 0.9) -2px -1px 0 0 inset, rgba(128, 128, 128, 0.6) 2px -1px 0 0 inset, rgba(255, 255, 255, 0.45) 0 2px 0 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 4px 0 0, rgba(128, 128, 128, 0.9) -2px -1px 0 0 inset, rgba(128, 128, 128, 0.6) 2px -1px 0 0 inset, rgba(255, 255, 255, 0.45) 0 2px 0 0 inset;
  box-shadow: rgba(0, 0, 0, 0.6) 0 4px 0 0, rgba(128, 128, 128, 0.9) -2px -1px 0 0 inset, rgba(128, 128, 128, 0.6) 2px -1px 0 0 inset, rgba(255, 255, 255, 0.45) 0 2px 0 0 inset;
}
@media screen and (max-width: 750px) {
  /* line 112, ../sass/messaging.scss */
  .input-area {
    margin-top: 0;
  }
}

/* line 171, ../sass/messaging.scss */
#new-input-modal, #archive-modal {
  display: none;
  position: fixed;
  top: 8%;
  left: 20%;
  right: 20%;
  width: 48%;
  padding: 6%;
  background-color: white;
  font-family: "Lato", "Lucidia Grande", serif;
  border-radius: 5px;
  font-weight: 300;
}
/* line 184, ../sass/messaging.scss */
#new-input-modal .modal_close, #archive-modal .modal_close {
  cursor: pointer;
  color: #b0b0b0;
  display: inline-block;
  font-size: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 2rem;
  right: 3rem;
}
/* line 197, ../sass/messaging.scss */
#new-input-modal input, #archive-modal input {
  width: 100%;
  margin-bottom: 2rem;
  border: none;
  border-bottom: 1px solid #b0b0b0;
  font-size: 1.5rem;
  height: 2.5rem;
  padding: 0.5rem 0;
}
/* line 207, ../sass/messaging.scss */
#new-input-modal .people-select, #archive-modal .people-select {
  margin-bottom: 2rem;
}
/* line 210, ../sass/messaging.scss */
#new-input-modal .people-select input[name="People"], #archive-modal .people-select input[name="People"] {
  margin-bottom: 0;
}
/* line 214, ../sass/messaging.scss */
#new-input-modal .people-select span, #archive-modal .people-select span {
  font-size: 0.9rem;
  background-color: #e0e0e0;
  display: inline-block;
  border-radius: 1px;
  margin-right: 0.3rem;
  margin-top: 0.7rem;
  padding: 5px 8px;
  color: #555555;
}
/* line 226, ../sass/messaging.scss */
#new-input-modal .question, #archive-modal .question {
  font-size: 1.5rem;
  margin-bottom: 2em;
}
/* line 231, ../sass/messaging.scss */
#new-input-modal button, #archive-modal button {
  float: right;
  background-color: #b0b0b0;
  border: none;
  color: white;
  font-family: "Lato", "Lucidia Grande", serif;
  font-weight: 400;
  border-radius: 4px;
  padding: 7px 20px;
  -webkit-box-shadow: rgba(128, 128, 128, 0.7) 0 4px 0 0, rgba(128, 128, 128, 0.2) -2px 0px 0 0 inset, rgba(128, 128, 128, 0.1) 2px 0px 0 0 inset, rgba(255, 255, 255, 0.5) 0 2px 0 0 inset;
  -moz-box-shadow: rgba(128, 128, 128, 0.7) 0 4px 0 0, rgba(128, 128, 128, 0.2) -2px 0px 0 0 inset, rgba(128, 128, 128, 0.1) 2px 0px 0 0 inset, rgba(255, 255, 255, 0.5) 0 2px 0 0 inset;
  box-shadow: rgba(128, 128, 128, 0.7) 0 4px 0 0, rgba(128, 128, 128, 0.2) -2px 0px 0 0 inset, rgba(128, 128, 128, 0.1) 2px 0px 0 0 inset, rgba(255, 255, 255, 0.5) 0 2px 0 0 inset;
  transition: all 0.3s ease;
}
/* line 247, ../sass/messaging.scss */
#new-input-modal button:hover, #archive-modal button:hover {
  background-color: #555555;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 4px 0 0, rgba(128, 128, 128, 0.9) -2px 0px 0 0 inset, rgba(128, 128, 128, 0.6) 2px 0px 0 0 inset, rgba(255, 255, 255, 0.35) 0 2px 0 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 4px 0 0, rgba(128, 128, 128, 0.9) -2px 0px 0 0 inset, rgba(128, 128, 128, 0.6) 2px 0px 0 0 inset, rgba(255, 255, 255, 0.35) 0 2px 0 0 inset;
  box-shadow: rgba(0, 0, 0, 0.7) 0 4px 0 0, rgba(128, 128, 128, 0.9) -2px 0px 0 0 inset, rgba(128, 128, 128, 0.6) 2px 0px 0 0 inset, rgba(255, 255, 255, 0.35) 0 2px 0 0 inset;
}
/* line 258, ../sass/messaging.scss */
#new-input-modal .no, #new-input-modal .yes, #archive-modal .no, #archive-modal .yes {
  width: 25%;
}
/* line 262, ../sass/messaging.scss */
#new-input-modal .no, #archive-modal .no {
  margin-right: 2%;
  background-color: #b0b0b0;
}
/* line 267, ../sass/messaging.scss */
#new-input-modal .yes, #archive-modal .yes {
  background-color: #777777;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 4px 0 0, rgba(128, 128, 128, 0.69) -2px 0px 0 0 inset, rgba(128, 128, 128, 0.49) 2px 0px 0 0 inset, rgba(255, 255, 255, 0.6) 0 2px 0 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 4px 0 0, rgba(128, 128, 128, 0.69) -2px 0px 0 0 inset, rgba(128, 128, 128, 0.49) 2px 0px 0 0 inset, rgba(255, 255, 255, 0.6) 0 2px 0 0 inset;
  box-shadow: rgba(0, 0, 0, 0.7) 0 4px 0 0, rgba(128, 128, 128, 0.69) -2px 0px 0 0 inset, rgba(128, 128, 128, 0.49) 2px 0px 0 0 inset, rgba(255, 255, 255, 0.6) 0 2px 0 0 inset;
}
