
// Font Stack 
$serif-stack:    'Merriweather', Georgia, serif;
$sans-stack:  'Lato', 'Lucidia Grande', serif;

// Colors
$light-black: 	#383838;
$dark-gray: 	#777;
$light-gray: 	#D0D0D0;

// Width & Height
$max-display: 750px;
$min-display: 280px;
$mid-display: 360px;

